<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension-point id="serverImages" name="%serverImagesContributionName"
		schema="schema/serverImages.exsd" />
  <extension-point id="dialogFactories" name="%dialogFactoriesContributionName"
		schema="schema/dialogFactories.exsd" />
   <extension-point id="editorPages" name="%editorPagesContributionName"
		schema="schema/editorPages.exsd" />
						
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fr.opensagres.nosql.ide.ui.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspectiveName"
            icon="icons/eview16/nosqlperspective.png"
            class="fr.opensagres.nosql.ide.ui.internal.Perspective"
            id="fr.opensagres.nosql.ide.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%NoSQL.category"
            id="fr.opensagres.nosql.ide.ui">
      </category>         
      <view
            name="%ServersExplorer.name"
            class="fr.opensagres.nosql.ide.ui.internal.views.ServersExplorer"
            id="fr.opensagres.nosql.ide.ui.views.ServersExplorer"
            category="fr.opensagres.nosql.ide.ui"
            icon="icons/obj16/servers.png"
            allowMultiple="false" >
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%NoSQL.category"
            id="fr.opensagres.nosql.ide.ui">
      </category>
      <view
            name="%ShellCommandsView.name"
            icon="icons/obj16/shellcommand.png"
            category="fr.opensagres.nosql.ide.ui"
            class="fr.opensagres.nosql.ide.ui.internal.views.ShellCommandsView"
            id="fr.opensagres.nosql.ide.ui.views.ShellCommandsView">
      </view>
   </extension>

  <extension point="org.eclipse.ui.preferencePages">
    <page
      id="fr.opensagres.nosql.ide.ui.preferencePage"
      name="%preferenceNoSQLTitle"
      class="fr.opensagres.nosql.ide.ui.internal.preferences.NoSQLPreferencePage">      
    </page>    
  </extension>
  <extension point="org.eclipse.ui.preferencePages">   
    <page
      id="fr.opensagres.nosql.ide.ui.preferences.ServerRuntimePreferencePage"
      name="%preferenceRuntimesTitle"
      category="fr.opensagres.nosql.ide.ui.preferencePage"
      class="fr.opensagres.nosql.ide.ui.internal.preferences.ServerRuntimePreferencePage">      
    </page>
  </extension>
  
</plugin>
