<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="editorPages" name="%editorPagesContributionName"
		schema="schema/editorPages.exsd" />
		
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fr.opensagres.mongodb.ide.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspectiveName"
            icon="icons/eview16/mongoperspective.png"
            class="fr.opensagres.mongodb.ide.ui.Perspective"
            id="fr.opensagres.mongodb.ide.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%Mongo.category"
            id="fr.opensagres.mongodb.ide.ui">
      </category>         
      <view
            name="%ServerExplorer.name"
            class="fr.opensagres.mongodb.ide.ui.views.ServerExplorer"
            id="fr.opensagres.mongodb.ide.ui.views.ServerExplorer"
            category="fr.opensagres.mongodb.ide.ui"
            icon="icons/obj16/mongo.png"
            allowMultiple="false" >
      </view>
   </extension>      
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%Mongo.category"
            id="fr.opensagres.mongodb.ide.ui">
      </category>
      <view
            name="%ShellCommandsView.name"
            icon="icons/obj16/shellcommand.png"
            category="fr.opensagres.mongodb.ide.ui"
            class="fr.opensagres.mongodb.ide.ui.views.ShellCommandsView"
            id="fr.opensagres.mongodb.ide.ui.views.ShellCommandsView">
      </view>
   </extension>   
   <!--<extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               ratio="0.25f"
               id="fr.opensagres.mongodb.ide.ui.views.ServerExplorer">
         </view>
      </perspectiveExtension>
   </extension>-->
   <!--<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>-->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%Mongo.category"
            id="fr.opensagres.mongodb.ide.ui">
      </category>                     
      <wizard
            class="fr.opensagres.mongodb.ide.ui.wizards.server.NewServerWizard"
            icon="icons/ctool16/wiz_new_server.gif"
            id="fr.opensagres.mongodb.ide.ui.wizards.server.NewServerWizard"
            category="fr.opensagres.mongodb.ide.ui"
            name="%NewServerWizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%Mongo.category"
            id="fr.opensagres.mongodb.ide.ui">
      </category>                     
      <wizard
            class="fr.opensagres.mongodb.ide.ui.wizards.database.NewDatabaseWizard"
            icon="icons/ctool16/wiz_new_database.png"
            id="fr.opensagres.mongodb.ide.ui.wizards.database.NewDatabaseWizard"
            category="fr.opensagres.mongodb.ide.ui"
            name="%NewDatabaseWizard.name">
      </wizard>
   </extension> 
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%Mongo.category"
            id="fr.opensagres.mongodb.ide.ui">
      </category>                     
      <wizard
            class="fr.opensagres.mongodb.ide.ui.wizards.collection.NewCollectionWizard"
            icon="icons/ctool16/wiz_new_collection.gif"
            id="fr.opensagres.mongodb.ide.ui.wizards.collection.NewCollectionWizard"
            category="fr.opensagres.mongodb.ide.ui"
            name="%NewCollectionWizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%Mongo.category"
            id="fr.opensagres.mongodb.ide.ui">
      </category>                     
      <wizard
            class="fr.opensagres.mongodb.ide.ui.wizards.document.NewDocumentWizard"
            icon="icons/ctool16/wiz_new_document.gif"
            id="fr.opensagres.mongodb.ide.ui.wizards.document.NewDocumentWizard"
            category="fr.opensagres.mongodb.ide.ui"
            name="%NewDocumentWizard.name">
      </wizard>
   </extension>   
  <extension point="org.eclipse.ui.preferencePages">
    <page
      id="fr.opensagres.mongodb.ide.ui.preferencePage"
      name="%preferenceMongoTitle"
      class="fr.opensagres.mongodb.ide.ui.internal.preferences.MongoPreferencePage">      
    </page>    
  </extension>
  
  <extension
        point="org.eclipse.ui.editors">
     <editor
           id="fr.opensagres.mongodb.ide.ui.editors.server.ServerEditor"
           name="%ServerEditor.name"
           icon="icons/obj16/server.gif"           
           extensions="server"
           class="fr.opensagres.mongodb.ide.ui.editors.server.ServerEditor" />
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           id="fr.opensagres.mongodb.ide.ui.editors.database.DatabaseEditor"
           name="%DatabaseEditor.name"
           icon="icons/obj16/database.png"           
           extensions="database"
           class="fr.opensagres.mongodb.ide.ui.editors.database.DatabaseEditor" />
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           id="fr.opensagres.mongodb.ide.ui.editors.collection.CollectionEditor"
           name="%CollectionEditor.name"
           icon="icons/obj16/collection.png"           
           extensions="collection"
           class="fr.opensagres.mongodb.ide.ui.editors.collection.CollectionEditor" />
  </extension>    
  <extension
        point="org.eclipse.ui.editors">
     <editor
           id="fr.opensagres.mongodb.ide.ui.editors.document.DocumentEditor"
           name="%DocumentEditor.name"
           icon="icons/obj16/document.gif"           
           extensions="document"
           class="fr.opensagres.mongodb.ide.ui.editors.document.DocumentEditor" />
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           id="fr.opensagres.mongodb.ide.ui.editors.gridfs.GridFSEditor"
           name="%GridFSEditor.name"
           icon="icons/obj16/gridfs.png"           
           extensions="gridfs"
           class="fr.opensagres.mongodb.ide.ui.editors.gridfs.GridFSEditor" />
  </extension>  
</plugin>
