<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	      point="fr.opensagres.nosql.ide.core.serverTypes">
	   <serverType
	         id="fr.opensagres.nosql.ide.mongodb.core"
	         name="%serverType.name">
	   </serverType>
	</extension>

	<extension
	      point="fr.opensagres.nosql.ide.core.serverFactories">
	   <serverFactory
	         serverType="fr.opensagres.nosql.ide.mongodb.core"
	         class="fr.opensagres.nosql.ide.mongodb.core.internal.extensions.MongoServerFactory">
	   </serverFactory>
	</extension>

	<extension
	      point="fr.opensagres.nosql.ide.core.runtimeFactories">
	   <runtimeFactory
	         serverType="fr.opensagres.nosql.ide.mongodb.core"
	         class="fr.opensagres.nosql.ide.mongodb.core.internal.extensions.MongoRuntimeFactory">
	   </runtimeFactory>
	</extension>
	 
  	<extension point="fr.opensagres.nosql.ide.core.serverRunners">
 		<!-- Start/Stop Server (mongod) with cmd/sh -->  	
	  	<serverRunner 
	  		serverType="fr.opensagres.nosql.ide.mongodb.core"
	        id="fr.opensagres.nosql.ide.mongodb.core.extensions.ExternalServerRunner"
	        class="fr.opensagres.nosql.ide.mongodb.core.internal.extensions.ExternalServerRunner"
	        startName="%ExternalServerRunner.startName"
	        stopName="%ExternalServerRunner.stopName"
	        startDescription="%ExternalServerRunner.startDesc"
	        stopDescription="%ExternalServerRunner.stopDesc" >
	  	</serverRunner>   
  		<!-- Connect/Disconnect Server with Java API Mongo -->	  	
		<serverRunner
	   		 serverType="fr.opensagres.nosql.ide.mongodb.core"
	         class="fr.opensagres.nosql.ide.mongodb.core.internal.extensions.ConnectServerRunner"
	         id="fr.opensagres.nosql.ide.mongodb.core.internal.extensions.ConnectServerRunner"
	         startName="%ConnectServerRunner.startName"
	         startDescription="%ConnectServerRunner.startDesc"
	         stopName="%ConnectServerRunner.stopName"
	         stopDescription="%ConnectServerRunner.stopDesc">
	   </serverRunner>	  	
  	</extension> 	
	<extension
	      point="fr.opensagres.nosql.ide.core.serverRunners">
	   <serverRunner
	   		 serverType="fr.opensagres.nosql.ide.mongodb.core"
	         class="fr.opensagres.nosql.ide.mongodb.core.internal.extensions.ConnectServerRunner"
	         id="fr.opensagres.nosql.ide.mongodb.core.internal.extensions.ConnectServerRunner"
	         startName="%ConnectServerRunner.startName"
	         startDescription="%ConnectServerRunner.startDesc"
	         stopName="%ConnectServerRunner.stopName"
	         stopDescription="%ConnectServerRunner.stopDesc">
	   </serverRunner>
	</extension>
	
  <!-- Start/Stop Shell Console (mongo) with cmd/sh --> 
  <extension point="fr.opensagres.nosql.ide.core.shellRunners">
	  <runner
	        id="fr.opensagres.nosql.ide.mongodb.core.extensions.ExternalShellRunner"
	        class="fr.opensagres.nosql.ide.mongodb.core.internal.extensions.ExternalShellRunner"
	        startName="%ExternalShellRunner.startName"
	        stopName="%ExternalShellRunner.stopName"
	        startDescription="%ExternalShellRunner.startDesc"
	        stopDescription="%ExternalShellRunner.stopDesc" >
	  </runner>   
  </extension>
  	
</plugin>
