<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	      point="fr.opensagres.nosql.ide.core.serverTypes">
	   <serverType
	         id="fr.opensagres.nosql.ide.mongodb.core"
	         name="%serverType.name">
	   </serverType>
	</extension>

	<extension
	      point="fr.opensagres.nosql.ide.core.serverFactories">
	   <serverFactory
	         serverType="fr.opensagres.nosql.ide.mongodb.core"
	         class="fr.opensagres.nosql.ide.mongodb.core.internal.extensions.MongoServerFactory">
	   </serverFactory>
	</extension>

	<extension
	      point="fr.opensagres.nosql.ide.core.runtimeFactories">
	   <runtimeFactory
	         serverType="fr.opensagres.nosql.ide.mongodb.core"
	         class="fr.opensagres.nosql.ide.mongodb.core.internal.extensions.MongoRuntimeFactory">
	   </runtimeFactory>
	</extension>
	
	<extension
	      point="fr.opensagres.nosql.ide.core.serverRunners">
	   <serverRunner
	   		 serverType="fr.opensagres.nosql.ide.mongodb.core"
	         class="fr.opensagres.nosql.ide.mongodb.core.internal.extensions.ConnectServerRunner"
	         id="fr.opensagres.nosql.ide.mongodb.core.internal.extensions.ConnectServerRunner"
	         startName="%ConnectServerRunner.startName"
	         startDescription="%ConnectServerRunner.startDesc"
	         stopName="%ConnectServerRunner.stopName"
	         stopDescription="%ConnectServerRunner.stopDesc">
	   </serverRunner>
	</extension>
	
</plugin>
