<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension-point id="serverTypes" name="%serverTypesContributionName"
		schema="schema/serverTypes.exsd" />
  <extension-point id="serverFactories" name="%serverFactoriesContributionName"
		schema="schema/serverFactories.exsd" />
  <extension-point id="serverRunners" name="%serverRunnersContributionName"
		schema="schema/serverRunners.exsd" />
  <extension-point id="runtimeFactories" name="%runtimeFactoriesContributionName"
		schema="schema/runtimeFactories.exsd" />
  <extension-point id="commandIdProviders" name="%commandIdProvidersContributionName"
		schema="schema/commandIdProviders.exsd" />
  <extension-point id="shellRunners" name="%shellRunnersContributionName"
		schema="schema/shellRunners.exsd" />
										
</plugin>
