<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="fr.opensagres.nosql.ide.ui.serverImages">
      <serverImage
            serverType="fr.opensagres.nosql.ide.mongodb.core"
            icon="icons/obj16/mongodb.png">
      </serverImage>
   </extension>

	<extension
	      point="fr.opensagres.nosql.ide.ui.dialogFactories">
	    <dialogFactory
	          class="fr.opensagres.nosql.ide.mongodb.ui.internal.extension.MongoRuntimeDialogFactory"
	          dialogType="runtimeDialog"
	          serverType="fr.opensagres.nosql.ide.mongodb.core">
	    </dialogFactory>
	</extension>
	
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%MongoDB.category"
            id="fr.opensagres.nosql.ide.mongodb.ui">
      </category>                     
      <wizard
            class="fr.opensagres.nosql.ide.mongodb.ui.wizards.server.NewServerWizard"
            icon="icons/ctool16/wiz_new_server.gif"
            id="fr.opensagres.nosql.ide.mongodb.ui.wizards.server.NewServerWizard"
            category="fr.opensagres.nosql.ide.mongodb.ui"
            name="%NewServerWizard.name">
      </wizard>
   </extension>
   
   	<extension
	      point="fr.opensagres.nosql.ide.core.commandIdProviders">
	    <commandIdProvider
	          class="fr.opensagres.nosql.ide.mongodb.ui.internal.extension.MongoCommandIdProvider"
	          serverType="fr.opensagres.nosql.ide.mongodb.core">
	    </commandIdProvider>
	</extension>
	
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="fr.opensagres.nosql.ide.mongodb.ui.internal.handlers.OpenServerEditorHandler"
           id="fr.opensagres.nosql.ide.mongodb.ui.handlers.OpenServerEditorHandler"
           name="Edit server">
     </command>
     <command
           defaultHandler="fr.opensagres.nosql.ide.mongodb.ui.internal.handlers.OpenDatabaseEditorHandler"
           id="fr.opensagres.nosql.ide.mongodb.ui.handlers.OpenDatabaseEditorHandler"
           name="Edit server">
     </command>
     <command
           defaultHandler="fr.opensagres.nosql.ide.mongodb.ui.internal.handlers.OpenUsersEditorHandler"
           id="fr.opensagres.nosql.ide.mongodb.ui.handlers.OpenUsersEditorHandler"
           name="Edit server">
     </command>           
     <command
           defaultHandler="fr.opensagres.nosql.ide.mongodb.ui.internal.handlers.OpenGridFSEditorHandler"
           id="fr.opensagres.nosql.ide.mongodb.ui.handlers.OpenGridFSEditorHandler"
           name="Edit server">
     </command>         
     <command
           defaultHandler="fr.opensagres.nosql.ide.mongodb.ui.internal.handlers.OpenCollectionEditorHandler"
           id="fr.opensagres.nosql.ide.mongodb.ui.handlers.OpenCollectionEditorHandler"
           name="Edit server">
     </command>
     <command
           defaultHandler="fr.opensagres.nosql.ide.mongodb.ui.internal.handlers.OpenDocumentEditorHandler"
           id="fr.opensagres.nosql.ide.mongodb.ui.handlers.OpenDocumentEditorHandler"
           name="Edit server">
     </command>         
  </extension>
  	
  <extension
        point="org.eclipse.ui.editors">
     <editor
           id="fr.opensagres.nosql.ide.mongodb.ui.editors.server.ServerEditor"
           name="%ServerEditor.name"
           icon="icons/obj16/mongodb.png"           
           extensions="server"
           class="fr.opensagres.nosql.ide.mongodb.ui.internal.editors.server.ServerEditor" />
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           id="fr.opensagres.nosql.ide.mongodb.ui.editors.database.DatabaseEditor"
           name="%DatabaseEditor.name"
           icon="icons/obj16/database.png"           
           extensions="database"
           class="fr.opensagres.nosql.ide.mongodb.ui.internal.editors.database.DatabaseEditor" />
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           id="fr.opensagres.nosql.ide.mongodb.ui.editors.collection.CollectionEditor"
           name="%CollectionEditor.name"
           icon="icons/obj16/collection.png"           
           extensions="collection"
           class="fr.opensagres.nosql.ide.mongodb.ui.internal.editors.collection.CollectionEditor" />
  </extension>    
  <extension
        point="org.eclipse.ui.editors">
     <editor
           id="fr.opensagres.nosql.ide.mongodb.ui.editors.document.DocumentEditor"
           name="%DocumentEditor.name"
           icon="icons/obj16/document.gif"           
           extensions="document"
           class="fr.opensagres.nosql.ide.mongodb.ui.internal.editors.document.DocumentEditor" />
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           id="fr.opensagres.nosql.ide.mongodb.ui.editors.gridfs.GridFSEditor"
           name="%GridFSEditor.name"
           icon="icons/obj16/gridfs.png"           
           extensions="gridfs"
           class="fr.opensagres.nosql.ide.mongodb.ui.internal.editors.gridfs.GridFSEditor" />
  </extension>     	
</plugin>
